@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">My company</h1>
    <h3>Офіційний сайт компанії</h3>
    
    <hr />
    <div style="padding:100px">
        <h4>Контент голоної сторінки</h4>
    </div>
    <p>Переглянути деталі <a href="https://docs.microsoft.com/aspnet/core">Створюйте красиві веб додатки ASP.NET Core</a>.</p>
</div>
